* {
  padding: 0;
  margin: 0;
    font-family: 'Montserrat', sans-serif;
}

h1{
  text-align: center;
}




.container{
  margin: 1%;
  display: flex;
}

.item{
  width: 100px;
  height: 100px;
  margin: 2%;
  color: white;
  background-color: #3dadfe;
  font-size: 30px;
/*  text-align: center; */
  align-items: center;
}

.item1{
  width: 100px;
  height: 100px;
  margin: 2%;
  color: white;
  background-color: #3dadfe;
  font-size: 30px;
/*  text-align: center; */
  align-self: start;
}

.item2{
  width: 100px;
  height: 100px;
  margin: 2%;
  color: white;
  background-color: #3dadfe;
  font-size: 30px;
/*  text-align: center; */
  flex-flow: row;
  order: 2;
}

.item3{
  width: 100px;
  height: 100px;
  margin: 2%;
  color: white;
  background-color: #3dadfe;
  font-size: 30px;
/*  text-align: center; */
  flex-grow: 3;
}

.item p{
  padding: 35px;
}

.justify{
  justify-content:space-around;
}

.center{
  justify-content: center;
}

.direction{
  flex-direction: column;
  align-items: flex-start;
}

.reverse{
  flex-flow: column-reverse;
}
