
@use "colors" as c;

@use "sass:map";
@use "sass:color";


$backcolor: c.$cool_color;
$border_background_color: lightgreen;


$border_weights: (
    "small": 1px,
    "not_so_small": 2px
);


@mixin main_border{
    border: map.get($border_weights, "small") white solid;
    background-color: $border_background_color;
    color: color.green();
}

*{
    padding: 100;
    margin: 100;
}

body{
    background-color: $backcolor;
}

.container{
    color: white;
    margin: 2%;
    margin: 5% (100 / 4) * 1%;

    &:hover{
        @include main_border;
    }

    &__elm{
        text-align: center;
        font-size: 1.5em;
    }
}

%block{
    display: block;
    color: green;
    @include main_border;
}

.block{
    @extend %block;
    border-color: silver;
    border-style: dashed;
    margin: 2% 25%;
    text-align: center;
}

