* {font-family: 'Roboto', sans-serif;}

ul {
  margin: 20;
}

a {
  text-decoration: none;
  transition: .5s linear;
}

li {
  list-style-type: none;
}

nav {
  display: block;
  width: auto;
  margin: 20;
}
.main ul {
  display: -webkit-flex; 
  display: flex;
  background: red;
  padding-left: 0;
}
.main a {
  padding: 1em;
  display: block;
  color: red;
  border-right: 1px solid red;
  background: #E6E6FA;
}
.main a:hover {background: #9370DB}