* {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;

}

h1{
  text-align: center;

}

.container{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.gap{
  grid-gap: 2vw 0;
}

.other_container{
  margin-top: 2em;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0.5em;
  padding: 0.5em;
}

.other_item{
  background-color: #3dadfe;
  text-align: center;
  padding: 2em;
}

.other_item:nth-child(1){
  background-color: #f09bc1; 
}

.other_item:nth-child(2){
  background-color: #d2fac1;
  justify-self: start;
}

.other_item:nth-child(3){
  background-color: #f09bf6;
  justify-self: end;

}

.other_item:nth-child(4){
  background-color: #94adfe;
  justify-self: center;
}


.item{
  height: 100px;
  width: 100px;
  background-color: #3dadfe;
  margin: auto;
}

.item1{
  grid-column: 1/4;
}

.item2{
  grid-column: 1/2;
}

.item3{
  grid-column: 1;
}
